.bg-skyblue {
    background-color: skyblue;
}

.nav-font {
    font-size: 70px;
    margin: auto;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#weatherContent {
    display: none;
}

#cityDetail,
li {
    color: #4D4F53!important;
}

#weather-container {
    max-width: 100%;
    background-color: rgb(211, 197, 195);
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto
}

#forecast-container {
    max-width: 100%;
    background-color: rgb(211, 197, 195);
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto
}