.bg-skyblue {
    background-color: skyblue;
}

.nav-font {
    font-size: 70px;
    margin: auto;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#weatherContent {
    display: none;
}

#cityDetail,
li {
    color: #4D4F53!important;
}

#weather-container {
    max-width: 100%;
    background-color: rgb(245, 241, 240);
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto;
    border: 5px solid black;
}

#forecast-container {
    max-width: 100%;
    background-color: rgb(245, 241, 240);
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto;
    border: 5px solid black;
}

#day-forecast {
    border: 2px solid black;
}


/* //added index class // */


/* uv index div */

.index-scale {
    width: 150px;
    height: 20px;
    border-radius: 6px;
}

.index-scale.low {
    background-color: #8DC443;
}

.index-scale.medium {
    background-color: #FDD836;
}

.index-scale.high {
    background-color: #FEB301;
}

.index-scale.very-high {
    background-color: #D2394A;
}

.index-scale.dangerous {
    background-color: #955072;
}