/* .bg-skyblue {
    background-color: skyblue;
} */

.nav-font {
    font-size: 70px;
    margin: auto;
    color: black;
    font-family: 'Arvo', serif;
    ;
}

p {
    /* font-family: 'Arvo', serif; */
    font-size: 20px;
}

h2 {
    font-family: 'Arvo', serif;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: 'Arvo', serif;
    font-weight: bold;
}

h5 {
    color: white;
}

#weatherContent {
    display: none;
}

#cityDetail,
li {
    background-color: unset!important;
    border: 2px solid black;
}

#weather-container {
    max-width: 100%;
    background-color: unset;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto;
    border: 5px solid black;
    font-weight: bold;
    font-family: 'Arvo', serif;
    /* display: hide; */
}

#forecast-container {
    max-width: 100%;
    background-color: unset;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    height: auto;
    border: 5px solid black;
    /* display: hide; */
    margin-top: 20px;
    font-family: 'Arvo', serif;
}

#day-forecast {
    border: 2px solid black;
    background-color: #F4E5DB;
}


/* //added index class // */


/* uv index div */

.index-scale {
    width: 150px;
    height: 30px;
    border-radius: 6px;
}

.index-scale .low {
    background-color: #8DC443;
}

.index-scale .medium {
    background-color: #FDD836;
}

.index-scale .high {
    background-color: #FEB301;
}

.index-scale .very-high {
    background-color: #D2394A;
}

.index-scale .dangerous {
    background-color: #955072;
}


/* CSS for searched cities  */

.searched {
    width: auto;
    padding: 8px 10px;
    background-color: burlywood;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

.hide {
    display: none;
}

body {
    background-image: url(../images/country.jpg);
    background-size: cover;
    background-position: center;
}

#button-addon2 {
    background-color: white;
    border-radius: 20px;
    margin-left: 5px;
    color: black;
    border: 2px solid black;
}

#newCity {
    border-radius: 20px;
    border: 2px solid black;
}